
/*---------------------VISTA grande-------------------*/

@media screen and (min-width:2000px){
    
}


@media screen and (min-width:900px) {
    .flex-srv {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }

    .servicio-unico {
        padding: 0%;
    }

    .header {
        position: fixed;
        z-index: 5;
    }
}



/*---------------------VISTA MOBIL-------------------*/
@media screen and (max-width: 870px) {
    .header {
        z-index: 100;
        position: fixed;
        flex-direction: row;
        gap: 0;
    }

    /*TITULO HEADER*/
    .header-titulo {
        z-index: 101;
    }

    /*TITULO PRINCIPAL DE SERVICIO*/
    .titulo-principal {
        font-size: 4.2vw;
    }

    .marco-servicios {
        width: 35%;
    }

    /*--------------------NAV CONFIGURACION--------------*/
    /*LISTA MOBIL POR DEFAULT*/
    .nav__lista {
        position: fixed;
        z-index: 100;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: var(--color-fondo-nav);

        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 8vh;

        transform: translateY(-100%);
        padding: 0px;
    }

    .item-link {
        font-size: 3vh;
    }

    /*CONFIGURACION DEL BOTON*/
    .btn-mobil {
        display: block;
        position: absolute;
        padding-top: 1.1vw;
        right: 1.6vw;
        top: 1.5vw;
        z-index: 101;

        width: 3em;
        height: 3em;
        border: none;
        background-color: transparent;
        background-image: url('../img/MenuMobileSVG.svg');
        background-repeat: no-repeat;
    }

    /*-------------------FUNCIONES DEL BOTON------------------*/
    /*SENTENCIA LISTA*/
    .nav__lista[data-visible="true"] {
        transform: translateX(0);
        transition: transform 300ms ease;
    }

    /*SENTENCIA DEL BOTON*/
    .btn-mobil[aria-expanded="true"] {
        background-image: url('../img/MenuMobile2SVG.svg');
    }
}