.contacto-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacto-titulo {
    text-align: center;
    width: 30vw;
    border-top: 3px solid var(--color-btn);
    border-bottom: 3px solid var(--color-btn);
    line-height: 2;
}

.contacto-contenedor {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 97vw;
    text-align: center;
}

.contacto-seccion {
    text-align: center;
    width: 25vw;
    display: flex;
    box-shadow: 6px 6px 6px rgb(207, 207, 207);
    border-radius: 9px;
    flex-direction: column;

}

.mini-contenedor {
    text-align: center;
}

.titulo-seccion {
    font-weight: 800;
    color: rgb(34, 33, 33);
}

.contacto-iconos {
    display: flex;
    list-style: none;
    justify-content: center;

}

.icono {
    margin-left: 1vw;
    margin-right: 1vw; 
}

.contenedor-texto {
    box-shadow: 6px 6px 6px rgb(167, 166, 166);
    margin-top: 20px;
    max-width: 60vw;
    padding: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.contenedor-texto input{
    font-size: 20px;
    width: 60vw;
    border: none;
    border-bottom: 2px solid rgb(143, 143, 143);
    line-height: 2;
}
.labels-top {
    display: flex;
    gap: 5px;
    width: 51vw;
    padding: 5px;
    border: none;
}

.label-texto {
    font-size: 20px;
    border: 2px solid rgb(143, 143, 143);
    padding: 10px;
    margin: 15px;
    margin-bottom: 25px;
    width: 50vw;
    height: 30vh;
}

.boton-enviar {
    color: white;
    border:none;
    border-radius: 10px;
    background-color: var(--color-btn);
    padding: 18px;
    margin-bottom: 15px;
    width: 20vw;
}

footer {
    margin-top: 50px;
    text-align: center;
    height: 9vh;
    color: white;
    width: 100%;
    background-color: var(--color-footer);
}

.footer-texto {
    padding-top: 50px;
}


@media screen and (max-width: 830px) {
    .contacto-contenedor{
        flex-direction: column;
    }
    .contenedor-texto input {
        width: 50vw;
    }
    .labels-top{
        flex-direction: column;
    }
}