@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
--color-texto: #000000;
--color-border: #FFFFFF80;
--color-nav: #D90062BF;
--color-btn: #D90062;
--color-: #F3F3F3;
--color-hoover: #509EE3;
--color-fondo-nav:rgba(20,25,45,1);
--color-sec: #14192D;
--color-: #222222;
--color-footer: #501464;
--color-: #333333;
--color-: #FFFFFF;
--color-: #000000;
}


*{
    font-family: 'Raleway', sans-serif;
}

/* -- HOME -- */ 

.contenedor-home{
    background-image:url("../img/img-home/fondo-home-2.jpg");
    height: 72vh;
    background-attachment:local;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size:cover
}

.home-titulo {
    margin: 0;
    padding: 0;
    color: var(--color-blanco2);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: clamp(44px, 1.5vw, 64px);
<<<<<<< HEAD
}

.boton-presupuesto {
    color: white;
    border:none;
    border-radius: 25px;
    background-color: var(--color-btn);
    padding: 18px;
    margin-bottom: 15px;
    width: 12vw;
    cursor: pointer;
    
=======
    margin-top: 30vh;
>>>>>>> ff0065c3e1d22a14157b88f99232d52efe68fe46
}

/*.home-btn {
    background-color: var(--color-btn);
    color: var(--color-blanco2);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: clamp(24px, 1.5vw, 48px);
    padding: 15px;
    border-radius: 6px;
    border: none;
    margin-top: 20px;
}*/
/*
.home-centro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    margin-left: 150px;
    text-align: center;
}
.servicio1{
    padding-left: 2em;
    padding-right: 2em;
}

<<<<<<< HEAD
.home-img {
    margin-left: 50px;
}*/
=======
.contenedor-button {
    margin-top: 40px;
    margin-left: 120px;
}

.boton-home {
    color: white;
    border:none;
    border-radius: 10px;
    background-color: var(--color-btn);
    padding: 18px;
    width: 20vw;
    cursor: pointer;
}
>>>>>>> ff0065c3e1d22a14157b88f99232d52efe68fe46

/* -- QUIENES SOMOS -- */ 
.como-empezo {
    display: flex;
    flex-direction: row;
    justify-content: center
}
.como-empezo-titulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--color-sec);
    border-top: 3px solid var(--color-btn);
    border-bottom: 3px solid var(--color-btn);
    line-height: 2;
    max-width: 35vw;
    margin: 30px auto;
}
<<<<<<< HEAD
.strong-marca {
    color: #D90062;
}

.titulo-1-quienes {
    text-align: center;
}

=======
.titulo-1-quienes {
    text-align: center;
}
>>>>>>> ff0065c3e1d22a14157b88f99232d52efe68fe46
.presentacion_inicial {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    max-width: 850px;
    margin: 30px 50px 0px 50px;
    font-size: clamp(10px, 1.5vw, 20px);
}

.present_comp{
    display: flex;
    justify-content: center;
}

<<<<<<< HEAD
.img_linda { /*falta achicarla */
=======
.img-logo {
    margin-top: 30px;
}
.comienzo-logo {
>>>>>>> ff0065c3e1d22a14157b88f99232d52efe68fe46
    max-width: 70vw;
    max-height: 25vh;
    border-radius: 25px;
} 

.team h1 {
    display:flex;
    justify-content: center;
    align-items: center;
    color: var(--color-sec);
    border-top: 3px solid var(--color-btn);
    border-bottom: 3px solid var(--color-btn);
    line-height: 2;
    max-width: 25vw;
}
<<<<<<< HEAD
=======

>>>>>>> ff0065c3e1d22a14157b88f99232d52efe68fe46
.contenedor_cards1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}
.contenedor_cards2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.card {
    position: relative;
    width: 300px;
    height: 400px;
    background: #FFFFFF;
    border-radius: 25px;
    overflow: hidden;
    transition: .5s;
    border: 2px solid #12192d;
    margin: 10px; 
}

.card:hover {
    box-shadow: 0 5px 15px rgba (3,  89, 92, .5);
    transform: translateY(-15px);
    background: #14192D;
    color: #FFFFFF;
}
/* no podemos ponerle color blanco a la letra cuando está en hover*/
.card:hover .presentacion h3:hover {
    color: #FFFFFF;
}
.card .head {
    height: 125px;
    width: 100%;
    position: relative;
}
/* creo que deberiamos sacar esto
.card .head .circulo {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: var(--color-btn);
    bottom: 0;
    transform: translate(-0.5%);
}*/

.card .head .img {
    width: 150px;
    position: absolute;
    background: #14192d;
    padding: 3px;
    border-radius: 50%;
    bottom: -30%;
    left: 50%;
    transform: translate(-50%);
}

.card .head .img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.card .presentacion {
    height: 200px;
    padding: 50px 20px;
    border-bottom: solid 1px rgba(6. 74. 76, .18);
    text-align: center;
}

.card .presentacion h3 {
    color: #12192d;
}

.card .presentacion h4 {
    padding-top: 8px;
    color: #2e4585;
}

.card .presentacion p {
    margin-top: 15px;
    font-size: 15px;
    margin-bottom: 0;
}

.card .contacto {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .contacto a {
    text-decoration: none;
    color: #efefff;
    background: #12192d;
    padding: 5px 20px;
    border-radius: 5px;
    transition:.3s ;
    margin: 10px;   
}

.card .contacto a:hover {
    background: #1b0c17;
}

/*CONFIGURACION HEADER POR BTN*/
.header-titulo{
    display: flex;
    justify-content: flex-start;
}
/*DOM DE SERVICIOS*/
.dom-servicios{
    position: static;
    background-color: var(--color-fondo);
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    margin: 0 auto;
}
/*MARCO QUE OFRECEMOS*/
.marco-servicios{
    margin-bottom: 1em;
    border-bottom: 3px solid var(--color-borde);
    border-top: 3px solid var(--color-borde);
    width: 21%;
}
/*BLOQUES SRV INDIVIDUAL*/
.servicio-unico{
    width: 26em;
    height: 100%;
    margin: 5px;
    padding-bottom: 30px;

    cursor: default;
    transition: all 400ms ease;

    -webkit-box-shadow: 6px 6px 5px 1px rgba(199,199,199,1);
    -moz-box-shadow: 6px 6px 5px 1px rgba(199,199,199,1);
    box-shadow: 6px 6px 5px 1px rgba(199,199,199,1);
}
.servicio-unico:hover{
    -webkit-box-shadow: 7px 7px 18px 3px rgba(186,186,186,1);
    -moz-box-shadow: 7px 7px 18px 3px rgba(186,186,186,1);
    box-shadow: 7px 7px 18px 3px rgba(186,186,186,1);
    transform: translateY(-2%);

}

/*-------------------------FLEX----------------------*/
/*FLEX DE SERVICIOS*/
.flex-srv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/*FLEX DE TITULO QUE OFRECEMOS*/
.flex-titulo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/*---------------------TIPOGRAFIA-------------------*/
/*TITULO QUE OFRECEMOS*/
.titulo-principal {
    font-family: 'Raleway';
    font-style: normal;
    font-size: 2.5vw;
    padding-top: 2%;
    padding-bottom: 2%;
    color: var(--color-titulo-srv);
}
/*TITULO DE SERVICIOS INDIVIDUALES*/
.titulo-ind-srv {
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    color: var(--color-titulo-srv);
    padding-bottom: 5%;
    padding-top: 5%;
}
/*TEXTO DE SERVICOS INDIVIDUALES*/
.texto-srv {
    display: block;
    font-family: 'Raleway';
    font-style: normal;
    color: var(--color-texto-srv);
    margin-left: 10%;
    margin-right: 10%;
}
/*---------------------ICONOS-------------------*/
.logos-servicios-base{
    max-width: 5vw;
    margin-top: 1.5em;
}
.logos-servicios-2{
    max-width: 4.5vw;
    margin-top: 1.5em;
}
.logos-servicios-3{
    max-width: 4vw;
    margin-top: 1.5em;
}
.logos-servicios-5{
    max-width: 5vw;
    padding-bottom: 6px;
    margin-top: 1.5em;
}
.logos-servicios-6{
    max-width: 4.8vw;
    padding-bottom: 2px;
    margin-top: 1.5em;
}
/*---------------------MENU LECTOR DE PANTALLA-------------------*/
.sr-only{
    position: absolute;
    top: 0;
    left: -4000;
    display: block;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
/*ELIMINACION DE BOTON MOBIL*/
.btn-mobil{
    display: none;
}
/*---------------------------SUB MENU---------------------*/
/*SUBMENI INVISIBLE*/
    .submenu{
        position: absolute;

    }
    
    .link-submenu{
        display: block;
        padding: 1vw 4.5vw 1vw 4.5vw;
        color: var(--color-fondo);
        font-size: 1.3vh;

    }
    .link-submenu{
        padding-right: 5em;
        padding-left: 3em;
    }
    
/*---------------------VISTA grande-------------------*/
@media screen and (min-width:1703px){
    .flex-srv{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }
    .servicio-unico{
        padding: 0%;
    }

}
/*---------------------VISTA MOBIL-------------------*/
@media screen and (max-width: 870px){
    .header{
        z-index: 100;
        position: fixed;
        flex-direction: row;
        gap: 0;
    }
/*TITULO HEADER*/
    .header-titulo{
    z-index: 101;
}
/*TITULO PRINCIPAL DE SERVICIO*/
    .titulo-principal{
        font-size: 4.2vw;
}
    .marco-servicios{
        width: 35%;
    }
/*--------------------NAV CONFIGURACION--------------*/
/*LISTA MOBIL POR DEFAULT*/
    .nav__lista{
        position: fixed;
        z-index: 100;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: var(--color-fondo-nav);

        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 8vh;

        transform: translateY(-100%);
        padding: 0px;
    }
    .item-link{
        font-size: 3vh;
    }
/*CONFIGURACION DEL BOTON*/
    .btn-mobil{
        display: block;
        position: absolute;
        padding-top: 1.1vw;
        right: 1.6vw;
        top: 1.5vw;
        z-index: 101;

        width: 3em;
        height: 3em;
        border: none;
        background-color: transparent;
        background-image: url('../img/MenuMobileSVG.svg');
        background-repeat: no-repeat;
    }
/*-------------------FUNCIONES DEL BOTON------------------*/
/*SENTENCIA LISTA*/
.nav__lista[data-visible="true"]{
        transform: translateX(0);
        transition: transform 300ms ease;
    }
/*SENTENCIA DEL BOTON*/
    .btn-mobil[aria-expanded="true"]{
        background-image: url('../img/MenuMobile2SVG.svg');
    }
}
/*------------------------SUBMENU----------------------*/
/*MENU DESPLEGABLE*/
    .container-submenu{
    position: relative;
    }
    .submenu{
    width: 100%;
    padding: 0;
    height: 0;
    overflow: visible;
    z-index: 103;
    opacity: 0;
    visibility: hidden;
    }
    .container-submenu:hover .submenu {
        opacity: 1;
        visibility: visible;
    }
    .link-submenu:hover{
        background-color: #666666;
    }
    .item-submenu{
        display: block;
        color: var(--color-fondo);
        text-decoration: none;
        background-color: var(--color-borde);
    }
    .lista-item{
        width: 100%;
        margin: 0;
    }

    .nav__lista{
        margin-top: 16px;
    }
    /* parte de galo, no entendimos nada */
    .testimonios{
        background-image: url(../img/Testimonios/testimonios.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 92vh;
        width: 100%;
        box-sizing: border-box;
    }
    
    .carousel{
        width: 50vw;
        background-color: #14192dcf;
        border-radius: 2.5rem;
    }
    
/* fin de galo */

/* oportuinidades de ana, va aca*/

/* hasta aca */ 
.contacto-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 83vh;
}

.contacto-titulo {
    text-align: center;
    width: 30vw;
    color: var(--color-btn);
    border-top: 3px solid var(--color-btn);
    border-bottom: 3px solid var(--color-btn);
    line-height: 2;
}

.contacto-contenedor {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 97vw;
    text-align: center;
}

.contacto-seccion {
    text-align: center;
    width: 21vw;
    display: flex;
    box-shadow: 10px 15px 25px 10px rgba(76, 76, 78, 0.2);
    border-radius: 9px;
    flex-direction: column;
    cursor: pointer;
}

.mini-contenedor {
    text-align: center;
}

.titulo-seccion {
    font-weight: 800;
    color: rgb(34, 33, 33);
}

.contacto-iconos {
    display: flex;
    list-style: none;
    justify-content: center;

}

.icono {
    margin-left: 1vw;
    margin-right: 1vw; 
}

.contenedor-texto {
    box-shadow:  10px 15px 25px 10px rgba(76, 76, 78, 0.2);
    margin-top: 20px;
    max-width: 60vw;
    padding: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.contenedor-texto input{
    font-size: 20px;
    width: 60vw;
    border: none;
    border-bottom: 3px solid rgb(96, 96, 96);
    line-height: 2;
}
.labels-top {
    display: flex;
    gap: 5px;
    width: 51vw;
    padding: 5px;
    border: none;
}

.label-texto {
    font-size: 20px;
    border: 3px solid rgb(96, 96, 96);
    padding: 10px;
    margin: 15px;
    margin-bottom: 25px;
    width: 50vw;
    height: 30vh;
}

.boton-enviar {
    color: white;
    border:none;
    border-radius: 10px;
    background-color: var(--color-btn);
    padding: 18px;
    margin-bottom: 15px;
    width: 12vw;
    cursor: pointer;
}

footer {
    margin-top: 50px;
    text-align: center;
    height: 9vh;
    color: white;
    width: 100%;
    background-color: var(--color-footer);
}

.footer-texto {
    padding-top: 50px;
}


@media screen and (max-width: 830px) {
    .contacto-contenedor{
        flex-direction: column;
    }
    .contenedor-texto input {
        width: 50vw;
    }
    .labels-top{
        flex-direction: column;
    }
    .contacto-seccion {
        width: 55vw;
        margin: 10px;
    }
    .boton-enviar {
        width: 20vw;
    }
    .contacto-main {
        height: 125vh;
    }
}

@media screen and (min-width: 1080px) {
    .contacto-main{ 
      height: 83vh;  
    }
    
}