@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
--color-texto: #000000;
--color-border: #FFFFFF80;
--color-nav: #D90062BF;
--color-btn: #D90062;
--color-: #F3F3F3;
--color-hoover: #509EE3;
--color-fondo-nav:rgba(20,25,45,1);
--color-: #14192D;
--color-: #222222;
--color-footer: #501464;
--color-: #333333;
--color-: #FFFFFF;
--color-: #000000;
}

*{
    font-family: 'Raleway', sans-serif;
}

.ofertas {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        color:#14192D;
    }
    
    article > h2 {
        font-size: 16px;
        font-weight: 600;
        color:#14192D;
    }
    
    article > h3 {
        font-size: 12px;
        margin-bottom: 12px;
    }
    .boton {
        text-decoration: none;
        color: #501464;
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        background-color: #D90062;
        padding: 5px;
        font-weight: 600;
        border-radius: 5px;
        transition: 500ms;
    }

    .boton:hover {
        color: #D90062;
        background-color: #501464;
    }

    .oportunidades{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .ofertas {
        border-width: 3px;
        border-style: solid;
        border-color: var(--color-btn);
        margin: 10px;
        padding: 30px;
        border-radius: 10px;
        width: 50vw;
    }