:root{
    --color-fondo: #F3F3F3;
    --color-borde: #d90062bf;
    --color-texto-srv: #000000;
    --color-titulo-srv: #333333;

}

*{
    margin: 0;
}
/*bloques srv*/
.servicios {
    background-color: var(--color-fondo);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1em;
    padding-top: 1.8%;
    padding-bottom: 3%;

}
.marco-servicios{
    
    margin-top: 1em;
    margin-bottom: 1em;
    border-bottom: 3px solid var(--color-borde);
    border-top: 3px solid var(--color-borde);
    width: 20em;
    text-align: center;

}
section > div > h1 {
    text-align: center;
}
.clasificacion {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    

}
/*texto y titulo srv*/
.text-srv {
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    color: var(--color-texto-srv);
}
.title-srv {
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    color: var(--color-titulo-srv);
    padding-bottom: 5%;
    padding-top: 5%;

}
.titulo-srv {
    font-family: 'Raleway';
    font-style: normal;
    font-size: 38px;
    padding-top: 2%;
    padding-bottom: 2%;
    color: var(--color-titulo-srv);
}
.servicio{
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
    text-align: center;
}
i{
    color: var(--color-borde);
    font-size: 50px;
}
.logos-servicios-base{
    width: 19%;
}
.logos-servicios-2{
    width: 17%;
}
.logos-servicios-3{
    width: 14%;
}
.logos-servicios-5{
    width: 22%;
}
.logos-servicios-6{
    width: 21%;
}
@media screen and (max-width: 500px){
    .clasificacion {
        grid-template-columns: 1fr 1fr;
    }
}