.testimonios{
    background-image: url(../img/fondo-testimonios.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95.4vh;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    gap: 15vh;
}

.testimonios-titulo{
    border-bottom: 2px solid var(--color-btn);
    border-top: 2px solid var(--color-btn);
    color: #333333;
    font-family: 'Raleway', sans-serif;
    font-size: clamp(32px, 3.5vw, 64px);
    font-weight: 900;
    line-height: 1.5;
    margin: 0;
}

.testimonios-partes{
    width: 50%;
    height: 50%;
    background-color: #2a242472;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonios__partes-articulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
}

.testimonios__articulo-imagen{
}

.testimonios__articulo-texto{

}

.testimonios__articulo-cliente{

}

.testimonios__articulo-circulo{

}
