:root{
    --fuente-texto : 400 clamp(16px, 1.5vw, 32px) 'Raleway', sans-serif;
    --fuente-titulo : 900 clamp(32px, 3.5vw, 64px) 'Raleway', sans-serif;
}

.nav__lista{
    margin-top: 16px;
}

.testimonios{
    background-image: url(../img/testimonios.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 92vh;
    width: 100%;
    box-sizing: border-box;
}

.carousel{
    width: 50vw;
    background-color: #14192dcf;
    border-radius: 2.5rem;
}

.btn-c{
    background-color: black;
}